.nav-bar {
    margin-top: 0.938rem;
    height: 3.438rem;
    display: flex;
    justify-content: flex-start;
    padding-left: 3.25rem;
    gap: 0.938rem;
}

.nav-link {
    color: #0f253a;
    background-color: transparent;
    font-size: 1rem;
    padding: 0 0.938rem;
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
}

.nav-link:hover,
.nav-link:focus,
.dropdown:hover .dropdown-toggle {
    background-color: #0f253a;
    border-radius: 0.313rem;
    color: #ffffff;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #0f253a;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    min-width: 10rem;
    z-index: 1;
    border-radius: 0.313rem;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-item {
    color: #ffffff;
    padding: 0.75rem 1rem;
    text-decoration: none;
    display: block;
    font-size: 0.875rem;
    white-space: nowrap;
}

.dropdown-item:hover {
    background-color: #ffffff;
    color: #0f253a;
}

.has-submenu::after {
    content: '▼';
    margin-left: 5px;
    font-size: 0.625rem;
}

.nav-icon {
    fill: #0f253a;
    vertical-align: middle;
    font-size: 1.375rem;
}

.nav-link:hover .nav-icon,
.nav-link:focus .nav-icon {
    fill: #ffffff;
}
