.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1.563rem;;
    padding: 2rem;
}

.card {
    width: 375px;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1.563rem;
    box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.2);
    transition: transform 0.3s ease, background-color 0.3s ease;
    padding: 1rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    position: relative;
}

.card:hover {
    transform: scale(1.05);
}

.card.green {
    background-color: #c3d117;
    height: 575px;
}

.stacked-cards {
    display: flex;
    flex-direction: column;
    gap: 1.563rem;;
}

.card.orange, .card.dark-blue {
    height: 275px;
}

.card.orange {
    background-color: #ed7817;
    z-index: 1;
}

.card.dark-blue {
    background-color: #0f253a;
}

.card-icon {
    width: 100px;
    height: auto;
    order: 2;
}

.card-title {
    color: white;
    margin-top: 2rem;
    margin-bottom: 1.25rem;
    font-size: 20px;
    font-weight: bold;
    order: 1;
}

.card-title-2 {
    color: white;
    margin-top: 3.5rem;
    margin-bottom: 1.25rem;
    font-size: 20px;
    font-weight: bold;
    order: 1;
}

.card span {
    display: block;
}
