<div class="content">
    <a class="card green" routerLink="/cedis/recepcion-de-transferencias-y-devoluciones">
        <span class="card-title">Recepción de Transferencias y Devoluciones</span>
        <img src="../../../../assets/images/home/receipt.png" alt="Recepción de Transferencias y Devoluciones" class="card-icon">
    </a>
    <div class="stacked-cards">
        <a class="card orange" routerLink="/cedis/reportes">
            <span class="card-title">Reportes</span>
            <img src="../../../../assets/images/home/report.png" alt="Reportes" class="card-icon">
        </a>
        <a class="card dark-blue" routerLink="/cedis/graficas">
            <span class="card-title-2">Gráficas</span>
            <img src="../../../../assets/images/home/chart.png" alt="Gráficas" class="card-icon">
        </a>
    </div>
</div>
