<div class="content">
    <a class="card green" routerLink="/preinventarios/ticket">
        <span class="card-title">Ticket</span>
        <img src="../../../../assets/images/home/receipt.png" alt="Recepción (FUE, TIRA e Imágenes)" class="card-icon">
    </a>
    <div class="stacked-cards">
        <a class="card orange" routerLink="/preinventarios/reportes">
            <span class="card-title">Reportes</span>
            <img src="../../../../assets/images/home/report.png" alt="Reportes" class="card-icon">
        </a>
        <a class="card dark-blue" routerLink="/preinventarios/graficas">
            <span class="card-title-2">Gráficas</span>
            <img src="../../../../assets/images/home/chart.png" alt="Gráficas" class="card-icon">
        </a>
    </div>
</div>
