<main>
    <a class="card" [routerLink]="'/cedis/home'">
        <img src="../../../../assets/images/home/receipt-icon.svg" alt="CEDIS" class="card-icon">
        <span>CEDIS</span>
    </a>
    <a class="card" [routerLink]="'/directos/home'">
        <img src="../../../../assets/images/home/receipt-icon.svg" alt="Directos" class="card-icon">
        <span>Directos</span>
    </a>
    <a class="card" [routerLink]="'/preinventarios/home'">
        <img src="../../../../assets/images/home/receipt-icon.svg" alt="Preinventarios" class="card-icon">
        <span>Preinventarios</span>
    </a>
</main>
